<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>857794246784-eavn9m2lo8ouhptr263oktt02h0s20iv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.857794246784-eavn9m2lo8ouhptr263oktt02h0s20iv</string>
	<key>API_KEY</key>
	<string>AIzaSyDz8H-Ov842BlyJluJ2e4JBSx3Hstdtt4U</string>
	<key>GCM_SENDER_ID</key>
	<string>857794246784</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sorcevapla.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>sorcevapla-e595f</string>
	<key>STORAGE_BUCKET</key>
	<string>sorcevapla-e595f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:857794246784:ios:c1c6f460c8c3b991d28e65</string>
</dict>
</plist>